<app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
  <!-- <div class="col-6 col-sm-4 col-md-3 col-xl-2">
    <i class="cui-speedometer icons font-2xl d-block mt-4"></i>
  <p class="nav-item px-3" style="padding: 0.75rem 1rem;font-size: 90%;color: #e4e7ea;text-transform: uppercase;font-weight: 500;"></p>

  </div> -->

    <a style="padding: 0.75rem 1rem;font-size: 90%;color: #e4e7ea;text-transform: uppercase;font-weight: 500;">
      <i class="nav-icon icon-speedometer" style="margin-right: 5%;"></i>
      Reports
    </a>
    <ul class="list-group">
      <li class="nav-item px-3 nav-link" style="padding: 0.75rem 1rem;font-size: 90%;color: #e4e7ea;text-transform: uppercase;"  *ngFor="let item of Reports">
        <i class="fa fa-table"style="margin-right: 5%;"></i> <a class="stretched-link text-white" (click) = "selectReport(item)">{{item}}</a>
      </li>
    </ul> 

</app-sidebar>